In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from termcolor import colored
import googlemaps
from googlemaps import *
_ROADS_BASE_URL = "https://roads.googleapis.com"
gmaps = googlemaps.Client(key='your_google_api_key')
from ast import literal_eval
import ast

%load_ext autoreload
%autoreload 2

In [2]:
df = pd.read_csv('jan_nov.csv')
df.head()

,Unnamed: 0,camera_id,time_stamp,collision_distance,distance,hdop,satellite,speed,location,trip_start,...,speed_skor,focus_skor,guard_skor,lat,lon,timezone,version,event,heading,dbm
0,0,861108031138984,2018-01-07 14:09:44,0.148203,4.696689,1.2,7.0,7.0,"37.765064,-122.424208",2018-01-07 13:48:10,...,91.0,NaN,97.0,37.7651,-122.424,NaN,NaN,normal,NaN,NaN
1,1,861108031138984,2018-01-07 14:15:19,0.148203,5.293831,1.1,7.0,7.0,"37.761645,-122.423119",2018-01-07 13:48:10,...,91.0,NaN,97.0,37.7616,-122.423,NaN,NaN,normal,NaN,NaN
2,2,861108031138984,2018-01-07 14:14:10,0.148203,5.148486,1.0,8.0,0.0,"37.761541,-122.424149",2018-01-07 13:48:10,...,100.0,NaN,97.0,37.7615,-122.424,NaN,NaN,normal,NaN,NaN
3,3,861108031138984,2018-01-07 14:12:53,0.148203,5.114548,1.3,7.0,0.0,"37.761593,-122.424424",2018-01-07 13:48:10,...,100.0,NaN,97.0,37.7616,-122.424,NaN,NaN,normal,NaN,NaN
4,4,861108031138984,2018-01-07 14:11:52,0.148203,5.114548,1.3,7.0,0.0,"37.761593,-122.424424",2018-01-07 13:48:10,...,100.0,NaN,97.0,37.7616,-122.424,NaN,NaN,normal,NaN,NaN

In [33]:
df_redshift = jay.redshift_data(imei, trip_start)
firmware = df_redshift['version'].iloc[0].split(',')[0][3:-1]
print(colored("Firmware Version", "blue", attrs = ['bold']), colored(firmware, "red"))
print()

event_start = df_redshift.head()['event'].iloc[0]
event_end = df_redshift.tail()['event'].iloc[-1]
trip_end = df_redshift.time_stamp.tail().iloc[-1]
start = 'Trip Start'
end = 'Trip End'

utc_trip_start = jay.convert_utc_trip_start(trip_start,tz)
utc_start_year, utc_start_hour, utc_trip_start = jay.local_utc_time(event_start, trip_start, start,utc_trip_start,tz)
print()
utc_trip_end = jay.convert_utc_trip_start(trip_end,tz)
utc_end_year, utc_end_hour, utc_trip_end = jay.local_utc_time(event_end, trip_end, end,utc_trip_end,tz)

jay.trip_info(df_redshift, imei)
jay.google_map(df_redshift)

Firmware Version CV150-C1_1.2.6

Trip Start with CarVi Activated
Local Trip Start : America/Los_Angeles 2018-11-28 20:48:14.567
awsS3 Trip Start : UTC		 2018-11-29 04:48:14.567000

Trip End with normal
Local Trip End : America/Los_Angeles 2018-11-28 21:05:11.318
awsS3 Trip End : UTC		 2018-11-29 05:05:11.318000

Data Shape : (1012, 44)
Trip Distance: 14.997 km
Trip Duration: 0 Hours 16 Minutes 56 Seconds

Figure(layout=FigureLayout(height='420px'))

In [35]:
df = df_redshift

In [34]:
def snap_map(results):
    snap_lst = []
    for i in range(0, len(results)):
        loc = str(results[i]['location']['latitude'])+','+str(results[i]['location']['longitude'])
        snap_lst.append(loc)
    aaa = pd.DataFrame({'location':snap_lst})
    return jay.google_map(aaa)

In [40]:
lst = [i for i in df.location[200:300]]

In [53]:
snap_lst = []
for i,j in zip(df.index,df.location):
    res = gmaps.snap_to_roads(j)
    for i in res:
        lat = i['location']['latitude']
        lon = i['location']['longitude']
        lat = round(lat,5)
        lon = round(lon,5)
        loc = str(lat)+','+str(lon)
        print(loc)
        snap_lst.append(loc)

In [51]:
df.location.value_counts()

37.7871,-122.3944    3
37.7858,-122.3928    2
37.7854,-122.3922    2
37.7854,-122.3923    2
37.7864,-122.3935    2
37.7866,-122.3940    2
37.7877,-122.3949    2
37.7861,-122.3931    2
37.7853,-122.3921    2
37.7871,-122.3945    2
37.7865,-122.3939    2
37.7891,-122.3878    2
37.7856,-122.3926    2
37.7879,-122.3890    1
37.7861,-122.3905    1
37.7856,-122.3912    1
37.7874,-122.3947    1
37.7880,-122.3888    1
37.7886,-122.3960    1
37.7865,-122.3938    1
37.7878,-122.3949    1
37.7856,-122.3914    1
37.7887,-122.3959    1
37.7886,-122.3883    1
37.7877,-122.3948    1
37.7859,-122.3907    1
37.7877,-122.3890    1
37.7857,-122.3927    1
37.7861,-122.3904    1
37.7884,-122.3885    1
                    ..
37.7888,-122.3882    1
37.7879,-122.3950    1
37.7855,-122.3924    1
37.7880,-122.3952    1
37.7862,-122.3933    1
37.7854,-122.3921    1
37.7875,-122.3947    1
37.7889,-122.3879    1
37.7874,-122.3946    1
37.7876,-122.3891    1
37.7868,-122.3941    1
37.7883,-122.3886    1
37.7853,-122.3920    1
37.7861,-122.3930    1
37.7859,-122.3908    1
37.7854,-122.3924    1
37.7883,-122.3957    1
37.7868,-122.3943    1
37.7879,-122.3951    1
37.7859,-122.3929    1
37.7869,-122.3944    1
37.7873,-122.3894    1
37.7881,-122.3956    1
37.7860,-122.3929    1
37.7868,-122.3944    1
37.7867,-122.3898    1
37.7873,-122.3945    1
37.7880,-122.3954    1
37.7881,-122.3887    1
0.0000,0.0000        1
Name: location, Length: 86, dtype: int64

In [46]:
results = gmaps.snap_to_roads(snap_lst)
snap_map(results)

Figure(layout=FigureLayout(height='420px'))

In [47]:
snap_lst = []
for i,j in zip(range(0,len(df)+1,10), range(10,len(df)+1,10)): 
    lst = df.location[i:j]
    print('\ninput size', len(lst), lst)
    res = gmaps.snap_to_roads(lst)
    print('by converting, its length',len(res))
    for i in res:
        lat = i['location']['latitude']
        lon = i['location']['longitude']
        lat = round(lat,5)
        lon = round(lon,5)
        loc = str(lat)+','+str(lon)
        print(loc)
        snap_lst.append(loc)
        
    #snap_lst.append(loc)
    #res_lst.append(results)
#snap_lst

input size 10 200    37.7886,-122.3960
201    37.7887,-122.3959
202    37.7884,-122.3959
203    37.7883,-122.3957
204    37.7881,-122.3956
205    37.7880,-122.3956
206    37.7880,-122.3954
207    37.7880,-122.3952
208    37.7879,-122.3951
209    37.7879,-122.3950
Name: location, dtype: object
by converting, its length 9
37.78857,-122.39604
37.78842,-122.39587
37.78829,-122.39571
37.78815,-122.39553
37.7881,-122.39547
37.78802,-122.39537
37.78794,-122.39527
37.78785,-122.39516
37.78781,-122.39511

input size 10 210    37.7879,-122.3949
211    37.7879,-122.3948
212    37.7878,-122.3949
213    37.7877,-122.3949
214    37.7877,-122.3949
215    37.7877,-122.3948
216    37.7876,-122.3947
217    37.7875,-122.3947
218    37.7874,-122.3947
219    37.7874,-122.3946
Name: location, dtype: object
by converting, its length 10
37.78778,-122.39507
37.78774,-122.39502
37.78772,-122.395
37.78767,-122.39494
37.78767,-122.39494
37.78763,-122.39489
37.78754,-122.39478
37.78749,-122.39471
37.78744,-122.39465
37.7874,-122.3946

input size 10 220    37.7873,-122.3945
221    37.7871,-122.3945
222    37.7871,-122.3945
223    37.7871,-122.3944
224    37.7871,-122.3944
225    37.7871,-122.3944
226    37.7870,-122.3944
227    37.7869,-122.3944
228    37.7868,-122.3944
229    37.7868,-122.3943
Name: location, dtype: object
by converting, its length 10
37.78731,-122.39449
37.78721,-122.39436
37.78721,-122.39436
37.78717,-122.39431
37.78717,-122.39431
37.78717,-122.39431
37.78712,-122.39425
37.78707,-122.39419
37.78702,-122.39412
37.78698,-122.39407

input size 10 230    37.7868,-122.3941
231    37.7866,-122.3940
232    37.7866,-122.3940
233    37.7865,-122.3939
234    37.7865,-122.3939
235    37.7865,-122.3938
236    37.7865,-122.3935
237    37.7864,-122.3935
238    37.7864,-122.3935
239    37.7863,-122.3934
Name: location, dtype: object
by converting, its length 10
37.7869,-122.39397
37.78676,-122.3938
37.78676,-122.3938
37.78667,-122.39368
37.78667,-122.39368
37.78663,-122.39363
37.78651,-122.39349
37.78646,-122.39343
37.78646,-122.39343
37.78637,-122.39331

input size 10 240    37.7862,-122.3933
241    37.7861,-122.3932
242    37.7861,-122.3931
243    37.7861,-122.3931
244    37.7861,-122.3930
245    37.7860,-122.3930
246    37.7860,-122.3929
247    37.7859,-122.3929
248    37.7858,-122.3928
249    37.7858,-122.3928
Name: location, dtype: object
by converting, its length 10
37.78628,-122.39319
37.78619,-122.39308
37.78615,-122.39304
37.78615,-122.39304
37.78611,-122.39299
37.78601,-122.39294
37.78599,-122.39293
37.7859,-122.39289
37.78579,-122.39284
37.78579,-122.39284

input size 10 250    37.7857,-122.3927
251    37.7856,-122.3926
252    37.7856,-122.3926
253    37.7855,-122.3925
254    37.7855,-122.3924
255    37.7854,-122.3924
256    37.7854,-122.3923
257    37.7854,-122.3923
258    37.7854,-122.3922
259    37.7854,-122.3922
Name: location, dtype: object
by converting, its length 10
37.78567,-122.39277
37.78555,-122.39268
37.78555,-122.39268
37.78545,-122.39254
37.78541,-122.39245
37.7854,-122.3924
37.78537,-122.39231
37.78537,-122.39231
37.78535,-122.39225
37.78535,-122.39225

input size 10 260    37.7854,-122.3921
261    37.7853,-122.3921
262    37.7853,-122.3921
263    37.7853,-122.3920
264    37.7854,-122.3918
265    37.7855,-122.3917
266    37.7855,-122.3916
267    37.7855,-122.3915
268    37.7856,-122.3914
269    37.7856,-122.3912
Name: location, dtype: object
by converting, its length 8
37.78529,-122.392
37.78529,-122.39199
37.7854,-122.3918
37.78546,-122.39167
37.7855,-122.3916
37.78554,-122.39153
37.78561,-122.39141
37.78567,-122.39128

input size 10 270    37.7856,-122.3911
271    37.7857,-122.3910
272    37.7858,-122.3910
273    37.7858,-122.3909
274    37.7859,-122.3908
275    37.7859,-122.3907
276    37.7861,-122.3907
277    37.7861,-122.3905
278    37.7861,-122.3904
279    37.7866,-122.3899
Name: location, dtype: object
by converting, its length 10
37.78571,-122.39123
37.78577,-122.39114
37.78584,-122.39104
37.78587,-122.39099
37.78596,-122.39088
37.786,-122.39082
37.7861,-122.3907
37.78617,-122.3906
37.78621,-122.39056
37.78669,-122.39002

input size 10 280    37.7867,-122.3898
281    37.7871,-122.3894
282    37.7872,-122.3894
283    37.7873,-122.3894
284    37.7874,-122.3893
285        0.0000,0.0000
286    37.7876,-122.3891
287    37.7877,-122.3890
288    37.7879,-122.3890
289    37.7880,-122.3888
Name: location, dtype: object
by converting, its length 9
37.78678,-122.38991
37.78716,-122.38948
37.78721,-122.38942
37.78727,-122.38935
37.78737,-122.38925
37.78756,-122.38904
37.78765,-122.38893
37.78777,-122.38881
37.7879,-122.38866

input size 10 290    37.7881,-122.3887
291    37.7883,-122.3886
292    37.7884,-122.3885
293    37.7885,-122.3884
294    37.7886,-122.3883
295    37.7888,-122.3882
296    37.7889,-122.3880
297    37.7889,-122.3879
298    37.7891,-122.3878
299    37.7891,-122.3878
Name: location, dtype: object
by converting, its length 10
37.788,-122.38855
37.78815,-122.38839
37.78825,-122.38828
37.78837,-122.38817
37.78847,-122.38807
37.78864,-122.38792
37.78878,-122.38779
37.78882,-122.38775
37.78897,-122.3876
37.78897,-122.3876

In [16]:
print('original length of data',len(df.location),'\nafter converting',len(snap_lst))

original length of data 100
after converting 60